<ion-header translucent class="loginheader othheader">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title class="title">Order Summary</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content fullscreen>
  <div class="mycartmainwrapper">
    <div class="container-90">
    <div class="col-10">
      <div class="addressbar">
        <h2>Ken Jones</h2>
        <div class="addressitem">         
          <ion-radio slot="start" value="biff"></ion-radio>
          <ion-label>4139  Neuport Lane, Marietta, Georgia. 30064.</ion-label>
          </div>
          <div class="addressitem">         
            <ion-radio slot="start" value="biff"></ion-radio>
            <ion-label>3221  Colony Street, Wallingford, Connecticut. 06492 </ion-label>
            </div>
            <button class="welcomebluebutton">Change or Add Address</button>
      </div>
    </div>
    <div class="col-10">
      <div class="col-7-5">
        <div class="producttextwrapper new_producttextwrapper">
          <h3>Digitek DTR 550 LW Tripod </h3>
          <h2>(Black, Supports Up to 5000 g)</h2>
          <h1>$ 65.00 <span class="oldprice">$ 84.00</span> <span class="offpercentage">20% Off</span></h1>
          <p>Lorem Ipsum is simply dummy text of the printing</p>
          <button class="graybtn">Remove</button>
        </div>
      </div>
      <div class="col-2-5">
        <div class="imgwrapper">
          <img src="../../assets/images/product3.png">
        </div> 
        <div class="selectwrapper">
          <label>qty:</label>
          <select>           
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>       
       
      </div>
    </div>
    <div class="col-10">
      <div class="col-7-5">
        <div class="producttextwrapper new_producttextwrapper">
          <h3>Digitek DTR 550 LW Tripod </h3>
          <h2>(Black, Supports Up to 5000 g)</h2>
          <h1>$ 65.00 <span class="oldprice">$ 84.00</span> <span class="offpercentage">20% Off</span></h1>
          <p>Lorem Ipsum is simply dummy text of the printing</p>
          <button class="graybtn">Remove</button>
        </div>
      </div>
      <div class="col-2-5">
        <div class="imgwrapper">
          <img src="../../assets/images/product4.png">
        </div> 
        <div class="selectwrapper">
          <label>qty:</label>
          <select>           
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>       
       
      </div>
    </div>


    <div class="col-10">
      <div class="producttable">
        <div class="tabletitle">
          <h2>Price Detail</h2>
          <p>Price  ( 2 item )  <span>$ 522.00</span></p>
          <p>Delivery charges  <span class="green"> $ 522.00</span></p>
          <h3>Amount payable  <span>$ 522.00</span></h3>
        </div>
      </div>
    </div>
    <div class="col-10">
      <div class="productlstblock">
        <h1>$ 522.00 <span><a >View Price Details</a></span></h1>
        <button class="addtocart">Continue</button>
      </div>
    </div>
  </div>
  </div>
  </ion-content>