<ion-header translucent class="homeheader">
  <ion-toolbar>
    <h2 class="hometitle">12 Days to go !</h2>
    
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="homemainwrapper">
    <div class="homeontainer">
      <a class="col-1-2" routerLink="/speaker">
        <div class="homeimgwrapper"><img src="../../assets/images/homeicon1.png"></div>
        <h3>Speakers</h3>
      </a>
      <a routerLink="/agenda" class="col-1-2">
        <div class="homeimgwrapper"><img src="../../assets/images/homeicon2.png"></div>
        <h3>Agenda</h3>
      </a>
      <a class="col-1-2" routerLink="/talenthunt">
        <div class="homeimgwrapper"><img src="../../assets/images/homeicon3.png"></div>
        <h3>Talent Show</h3>
      </a>
      <a class="col-1-2">
        <div class="homeimgwrapper"><img src="../../assets/images/homeicon4.png"></div>
        <h3>Special Request</h3>
      </a>
      <a class="col-1-2" routerLink="/myprofile">
        <div class="homeimgwrapper"><img src="../../assets/images/homeicon5.png"></div>
        <h3>Profile</h3>
      </a>
      <a class="col-1-2" routerLink="/sponsor">
        <div class="homeimgwrapper"><img src="../../assets/images/homeicon6.png"></div>
        <h3>Sponsors</h3>
      </a>
      <a class="col-1-2" routerLink="/networking">
        <div class="homeimgwrapper"><img src="../../assets/images/homeicon7.png"></div>
        <h3>Networking</h3>
      </a>
      <a class="col-1-2" routerLink="/products">
        <div class="homeimgwrapper"><img src="../../assets/images/homeicon8.png"></div>
        <h3>Shop</h3>
      </a>
    </div>
  </div>
  
</ion-content>
<app-tabs></app-tabs>