
<ion-header translucent class="loginheader">
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content fullscreen>

<div class="logincontainer">
<div class="welcomemainwrapper">
  <div class="welcomecontainer">

  <div class="logincontent">
    <div class="logoimgwrapper">
        <img src="../../assets/images/logo1.png">
      </div>
      <div class="textwrapper">
        <form class="loginform">
          <div class="form-group">
            <ion-input ion-input placeholder="Otp" type="text"></ion-input>
          </div>
         
          
          
        </form>
        <button class="welcomebluebutton" routerLink="/forgotpassword">OTP</button>
        <!-- <p><span><a routerLink="/forgotpassword">forgot password?</a></span></p> -->
      </div>
</div>
</div>
</div>
</div>
</ion-content>