<ion-header translucent class="loginheader othheader">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title class="title">speaker</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content fullscreen>
  <div class="Sponsormainwrapper">
    

    <div>
      <div class="sponsorcontainer">
        <div class="searchbar">
          <ion-searchbar></ion-searchbar>
        </div>
        <div class="speakerlistwrapper">
          <div class="titlewrapper">
            <h1>Featured</h1>
          </div>
          <a class="speakerlis" routerLink="/speakerview">          
            
            <div class="col-1-3">
              <div class="imgwrapper">
                <img src="../../assets/images/speakerimg1.png">
              </div>
            </div>
            <div class="col-1-7">
              <div class="textwrapper">
                <h2>Aaron Goldsmid</h2>
                <h5>It is a long established fact that a reader will be distracted by</h5>
                <p>Contrary to popular belief,</p>
              </div>
            </div>
            <div class="rightarrow">
              <a>
              <img src="../../assets/images/rightarrow.png">
            </a>
            </div>
          </a>
          <a class="speakerlis" routerLink="/speakerview">
            <div class="col-1-3">
              <div class="imgwrapper">
                <img src="../../assets/images/speakerimg2.png">
              </div>
            </div>
            <div class="col-1-7">
              <div class="textwrapper">
                <h2>Aaron Goldsmid</h2>
                <h5>It is a long established fact that a reader will be distracted by</h5>
                <p>Contrary to popular belief,</p>
              </div>
            </div>
            <div class="rightarrow">
              <a>
              <img src="../../assets/images/rightarrow.png">
            </a>
            </div>
          </a>
          <a class="speakerlis" routerLink="/speakerview">
            <div class="col-1-3">
              <div class="imgwrapper">
                <img src="../../assets/images/speakerimg3.png">
              </div>
            </div>
            <div class="col-1-7">
              <div class="textwrapper">
                <h2>Aaron Goldsmid</h2>
                <h5>It is a long established fact that a reader will be distracted by</h5>
                <p>Contrary to popular belief,</p>
              </div>
            </div>
            <div class="rightarrow">
              <a>
              <img src="../../assets/images/rightarrow.png">
            </a>
            </div>
          </a>

          <a class="speakerlis" routerLink="/speakerview">          
            
            <div class="col-1-3">
              <div class="imgwrapper">
                <img src="../../assets/images/speakerimg1.png">
              </div>
            </div>
            <div class="col-1-7">
              <div class="textwrapper">
                <h2>Aaron Goldsmid</h2>
                <h5>It is a long established fact that a reader will be distracted by</h5>
                <p>Contrary to popular belief,</p>
              </div>
            </div>
            <div class="rightarrow">
              <a>
              <img src="../../assets/images/rightarrow.png">
            </a>
            </div>
          </a>
          <a class="speakerlis" routerLink="/speakerview">
            <div class="col-1-3">
              <div class="imgwrapper">
                <img src="../../assets/images/speakerimg2.png">
              </div>
            </div>
            <div class="col-1-7">
              <div class="textwrapper">
                <h2>Aaron Goldsmid</h2>
                <h5>It is a long established fact that a reader will be distracted by</h5>
                <p>Contrary to popular belief,</p>
              </div>
            </div>
            <div class="rightarrow">
              <a>
              <img src="../../assets/images/rightarrow.png">
            </a>
            </div>
          </a>
          <a class="speakerlis" routerLink="/speakerview">
            <div class="col-1-3">
              <div class="imgwrapper">
                <img src="../../assets/images/speakerimg3.png">
              </div>
            </div>
            <div class="col-1-7">
              <div class="textwrapper">
                <h2>Aaron Goldsmid</h2>
                <h5>It is a long established fact that a reader will be distracted by</h5>
                <p>Contrary to popular belief,</p>
              </div>
            </div>
            <div class="rightarrow">
              <a>
              <img src="../../assets/images/rightarrow.png">
            </a>
            </div>
          </a>


        </div>
      </div>
    </div>
   
  </div>


</ion-content>