<ion-header translucent class="loginheader othheader">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <div class="chattopblock">
        <div class="col">
          <div class="imgwrapper">
            <img src="../../assets/images/speakerimg1.png">
          </div>
          <div class="usettextwrapper">
            <h2>Aaron Goldsmid</h2>
            <p>Web Designer</p>
          </div>
        </div>
        <div class="col">
          <div class="usettextwrapper">
            <p><a>Reschedule</a></p>
          </div>
        </div>
        
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="chatmainwrapper">
    <div class="chatinputwrapper">
      
    </div>
  </div>
</ion-content>