
<ion-header translucent class="loginheader">
    <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>

<div class="logincontainer">
<div class="welcomemainwrapper">
    <div class="welcomecontainer">
  
    <div class="logincontent">
      <div class="logoimgwrapper">
          <img src="../../assets/images/logo1.png">
        </div>
        <div class="textwrapper">
          <form class="loginform" >
            <div class="form-group">
              <ion-input ion-input placeholder="Username" type="text" name="username" formControlName="username"></ion-input>
            </div>
            <div class="form-group">
              <ion-input ion-input placeholder="Password" type="password" name="password" formControlName="password"></ion-input>
            </div>
            <br>
            <button class="welcomebluebutton" routerLink="/homepage">login</button>
          <p><span><a routerLink="/otp">forgot password?</a></span></p>
          </form>
          
        </div>
  </div>
</div>
  </div>
</div>
</ion-content>