<ion-header translucent class="loginheader othheader">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title class="title">products</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content fullscreen> 
  <div class="productdetailmainwrapper productdetailmainwrapper2">
    
<app-productsearch></app-productsearch>

    <div class="container-90">
      <div class="row">
        <div class="colcontainer">
        
        <div class="col-10">
          <div class="productimagewrapper">
            <div class="imgwrapper">
              <img src="../../assets/images/product1.png">
            </div>
          </div>
          
        </div>
        <div class="col-10">
          <div class="productsmlistmainwraper">
          <div class="productsmlist active">
            <div class="imgwrapper">
              <img src="../../assets/images/sm_product_img1.png">
            </div>
          </div>
          <div class="productsmlist">
           <div class="imgwrapper">
             <img src="../../assets/images/sm_product_img2.png">
           </div>
         </div>
         <div class="productsmlist">
           <div class="imgwrapper">
             <img src="../../assets/images/sm_product_img3.png">
           </div>
         </div>
         <div class="productsmlist">
           <div class="imgwrapper">
             <img src="../../assets/images/sm_product_img4.png">
           </div>
         </div>
         <div class="productsmlist">
          <div class="imgwrapper">
            <img src="../../assets/images/sm_product_img4.png">
          </div>
        </div>
        <div class="productsmlist">
          <div class="imgwrapper">
            <img src="../../assets/images/sm_product_img4.png">
          </div>
        </div>
 
           <!-- <a class="previous"><ion-icon name="arrow-dropleft"></ion-icon></a>
           <a class="nextbtn"><ion-icon name="arrow-dropright"></ion-icon></a> -->
          </div>
 
         </div>
         <div class="col-10">
           <div class="producttextwrapper new_producttextwrapper">
             <h3>Digitek DTR 550 LW Tripod  (Black, Supports Up to 5000 g)</h3>
             <h1>$ 65.00 <span class="oldprice">$ 84.00</span> <span class="offpercentage">20% Off</span></h1>
           </div>
         </div>
         <div class="productdescriptionmainwrapper">
           <h3><span>Product description</span></h3>
           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
             Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
             when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
             <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
              when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
           <h3><span>Highlights</span></h3>
           <ul>
             <li>Designed For: DSLR/SLR Camera, Video Camera, Telescope, Advanced Point & Shoot Camera</li>
             <li>Load Capacity: 5000 g</li>
              <li>Height Range: 62 mm - 170 mm</li>
              <li>Number of Leg Sections: 3</li>
              <li>Material: Aluminium</li>
           </ul>
         </div>

         <div class="buttonwraooer">
           <button class="addtocart">Add to cart</button>
           <button class="buynow" routerLink="/ordersummary"> Buy</button>
         </div>
      </div>
      </div>
    </div>      
  </div>
</ion-content>