<ion-tabs class="iabswrapper">
  <ion-tab-bar slot="bottom">
    <ion-tab-button  routerLink="/homepage" routerLinkActive="active">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>      
    </ion-tab-button>

    <ion-tab-button routerLink="/agenda" routerLinkActive="active">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Agenda</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLinkActive="active" routerLink="/networking">
      <ion-icon name="people"></ion-icon>
      <ion-label>Networking</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLinkActive="active">
      <ion-icon name="star"></ion-icon>
      <ion-label>My Schedule</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
