

<div class="producttopbar producttopbar1">
  <div class="col">
      <button class="selectcategorybtn" (click)="selectcategory()">Select category <ion-icon name="arrow-down"></ion-icon></button>
  </div>
  <div class="col">
    <button class="searchbtn"><ion-icon name="search"></ion-icon></button>
    <a class="cartbuttonwrapper" routerLink="/mycart">
      <button class="cartbtn">
        <span class="bach">12</span>
        <ion-icon name="cart"></ion-icon>
      </button>
    </a>
  </div>
</div>
<div class="producttopbar producttopbar2">      
  <div class="col-9">
    <ion-searchbar></ion-searchbar>
  </div>
  <div class="col-1">
    <a class="cartbuttonwrapper" routerLink="/mycart">
    <button class="cartbtn">
      <span class="bach">12</span>
      <ion-icon name="cart"></ion-icon>
    </button>
  </a>
  </div>
</div>
