<ion-header translucent class="loginheader othheader">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title class="title">products</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content fullscreen>
<div class="productmainwrapper">
  <div class="producttopbar">
    <div class="col">
        <button class="selectcategorybtn" (click)="selectcategory()">Select category <ion-icon name="arrow-down"></ion-icon></button>
    </div>
    <div class="col">
      <button class="searchbtn"><ion-icon name="search"></ion-icon></button>
      <button class="cartbtn">
        <span class="bach">12</span>
        <ion-icon name="cart"></ion-icon>
      </button>
    </div>
  </div>
  <div class="productcontainer">
      <div class="col-1-2">
        <div class="imgwrapper">
          <img src="../../assets/images/product1.png">
        </div>
        <div class="producttextwrapper">
          <h1>$ 65.00</h1>
          <h2>Digitek DTR 550 LW Tripod  </h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
      </div>
      <div class="col-1-2">
        <div class="imgwrapper">
          <img src="../../assets/images/product2.png">
        </div>
        <div class="producttextwrapper">
          <h1>$ 65.00</h1>
          <h2>Digitek DTR 550 LW Tripod </h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
      </div>
      <div class="col-1-2">
        <div class="imgwrapper">
          <img src="../../assets/images/product3.png">
        </div>
        <div class="producttextwrapper">
          <h1>$ 65.00</h1>
          <h2>Digitek DTR 550 LW Tripod  </h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
      </div>
      <div class="col-1-2">
        <div class="imgwrapper">
          <img src="../../assets/images/product4.png">
        </div>
        <div class="producttextwrapper">
          <h1>$ 65.00</h1>
          <h2>Digitek DTR 550 LW Tripod  </h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
      </div>
      <div class="col-1-2">
        <div class="imgwrapper">
          <img src="../../assets/images/product5.png">
        </div>
        <div class="producttextwrapper">
          <h1>$ 65.00</h1>
          <h2>Digitek DTR 550 LW Tripod  </h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
      </div>
      <div class="col-1-2">
        <div class="imgwrapper">
          <img src="../../assets/images/product6.png">
        </div>
        <div class="producttextwrapper">
          <h1>$ 65.00</h1>
          <h2>Digitek DTR 550 LW Tripod  </h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
      </div>
  </div>
</div>
</ion-content>
<app-tabs></app-tabs>