<ion-header translucent class="loginheader othheader">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title class="title">products</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content fullscreen>
<div class="productmainwrapper productmainwrapper1">
  <app-productsearch></app-productsearch>

  <div class="productcontainer">
      <a class="col-1-2" routerLink="/productdetail">
        <div class="imgwrapper">
          <img src="../../assets/images/product1.png">
        </div>
        <div class="producttextwrapper">
          <h1>$ 65.00</h1>
          <h2>Digitek DTR 550 LW Tripod  </h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
      </a>
      <a class="col-1-2" routerLink="/productdetail">
        <div class="imgwrapper">
          <img src="../../assets/images/product2.png">
        </div>
        <div class="producttextwrapper">
          <h1>$ 65.00</h1>
          <h2>Digitek DTR 550 LW Tripod </h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        
      </div>
    </a>
      <a class="col-1-2" routerLink="/productdetail">
        <div class="imgwrapper">
          <img src="../../assets/images/product3.png">
        </div>
        <div class="producttextwrapper">
          <h1>$ 65.00</h1>
          <h2>Digitek DTR 550 LW Tripod  </h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
      </a>
      <a class="col-1-2" routerLink="/productdetail">
        <div class="imgwrapper">
          <img src="../../assets/images/product4.png">
        </div>
        <div class="producttextwrapper">
          <h1>$ 65.00</h1>
          <h2>Digitek DTR 550 LW Tripod  </h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
      </a>
      <a class="col-1-2" routerLink="/productdetail">
        <div class="imgwrapper">
          <img src="../../assets/images/product5.png">
        </div>
        <div class="producttextwrapper">
          <h1>$ 65.00</h1>
          <h2>Digitek DTR 550 LW Tripod  </h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
      </a>
      <a class="col-1-2" routerLink="/productdetail">
        <div class="imgwrapper">
          <img src="../../assets/images/product6.png">
        </div>
        <div class="producttextwrapper">
          <h1>$ 65.00</h1>
          <h2>Digitek DTR 550 LW Tripod  </h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
      </a>
  </div>
</div>
</ion-content>
<app-tabs></app-tabs>