<ion-content fullscreen>
<div class="welcomemainwrapper">
  <div class="welcomecontainer">
    <div class="welcomesubwrapper">
      <div class="col">
        <div class="logoimgwrapper">
          <img src="../../assets/images/logo1.png">
        </div>
      </div>
      <div class="col">
        <div class="textwrapper">
          <h2>Official event guide and networking tool</h2>
        </div>
      </div>
      <div class="col">
        <div class="textwrapper">
          <button class="welcomebluebutton" routerLink="/signup">Create account</button>
          <p><span> registered? <a routerLink="/login">Sign in</a></span></p>
        </div>
      </div>
      <div class="col">
        <div class="textwrapper">
          <p>By signing in, youagree to the following</p>
          <p>Terms and condition & Privacy policy</p>
        </div>
      </div>
    </div>
  </div>
</div>
</ion-content>