<ion-header translucent class="loginheader othheader">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title class="title">speaker</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content fullscreen>
  <div class="Sponsorviewmainwrapper myprofilewrapper">
    <div class="speakerviewbanner">
    </div>
    <div class="myprofileprofilewrapper">      
      <div class="imgwrapper">
        <img src="../../assets/images/myprofileimage.png">
      </div>
      <div class="titlewrapper">
        <h1>
          <strong>Ken Jones</strong>
          <span>Founder</span>         
        </h1>
      </div>
    </div>
      <div class="sponsorcontainer">
       
        <div class="textwrapper">
          <h1 class="backgroundtitle">Bio</h1>
          <p> Contrary to popular belief, Lorem Ipsum is not simply random text. 
            It has roots in a piece of classical Latin literature from 45 BC, making it 
            over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, 
            looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through 
            the cites of the word in classical literature,</p>
            <h1 class="backgroundtitle">Link</h1>
           <p><a class="backgrounda" href=""><ion-icon name="link"></ion-icon> https://www.givbux.com</a></p>
           <h1 class="backgroundtitle">About me</h1>

           <button class="green-md-btn">Biz Dev & Sales</button>
           <button class="green-md-btn">Latin America</button>
           <button class="green-md-btn">Central & A.america</button>
           <button class="green-md-btn">N.America</button>
           <button class="green-md-btn">Management</button>
           <button class="green-md-btn">Marketing & Brand</button>
           <button class="green-md-btn">Payments</button>

           <h1 class="backgroundtitle">I’am looking for</h1>
           <button class="green-md-btn">Banks</button>
           <button class="green-md-btn">Latin America</button>
           <button class="green-md-btn">Central & A.america</button>
           <button class="green-md-btn">N.America</button>
           <button class="green-md-btn">Management</button>
           <button class="green-md-btn">Marketing & Brand</button>
           <button class="green-md-btn">Payments</button>
        </div> 
        <button class="blackbtn">edit profile</button> 
        
        <button class="yellowbtn" routerLink="/logout"><ion-icon name="log-out"></ion-icon> Logout</button>
       
      </div>
    </div>
</ion-content>
<app-tabs></app-tabs>