
<ion-header translucent class="loginheader">
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content fullscreen>

<div class="logincontainer">
<div class="welcomemainwrapper">
  <div class="welcomecontainer">

  <div class="logincontent">
    <div class="logoimgwrapper">
        <img src="../../assets/images/logo1.png">
      </div>
      <div class="textwrapper">
        <form class="loginform" [formGroup]="signupForm">
          <div class="form-group">
            <ion-input placeholder="Email Address" type="text" formControlName="email" (blur)="inputUntouch('email')"></ion-input>
            <p *ngIf="signupForm.controls['email'].touched && !signupForm.controls['email'].invalid" class="errortext validinput"> <ion-icon name="checkmark"></ion-icon></p>
            <p *ngIf="signupForm.controls['email'].touched && !signupForm.controls['email'].valid" class="errortext invalidinput"><ion-icon name="close"></ion-icon></p>
          </div>
          <div class="form-group">
            <ion-input placeholder="Phone No" type="text" formControlName="phoneno" (blur)="inputUntouch('phoneno')"></ion-input>
            <p *ngIf="signupForm.controls['phoneno'].touched && !signupForm.controls['phoneno'].invalid" class="errortext validinput"> <ion-icon name="checkmark"></ion-icon></p>
            <p *ngIf="signupForm.controls['phoneno'].touched && !signupForm.controls['phoneno'].valid" class="errortext invalidinput"><ion-icon name="close"></ion-icon></p>
          </div>
          <div class="form-group">
            <ion-input placeholder="User Name" type="text" formControlName="username" (blur)="inputUntouch('username')"></ion-input>
            <p *ngIf="signupForm.controls['username'].touched && !signupForm.controls['username'].invalid" class="errortext validinput"> <ion-icon name="checkmark"></ion-icon></p>
            <p *ngIf="signupForm.controls['username'].touched && !signupForm.controls['username'].valid" class="errortext invalidinput"><ion-icon name="close"></ion-icon></p>
          </div>
          <div class="form-group">
            <ion-input placeholder="Password" type="password" formControlName="password" (blur)="inputUntouch('password')"></ion-input>
            <p *ngIf="signupForm.controls['password'].touched && !signupForm.controls['password'].invalid" class="errortext validinput"><ion-icon name="checkmark"></ion-icon></p>
            <p *ngIf="signupForm.controls['password'].touched && !signupForm.controls['password'].valid" class="errortext invalidinput"><ion-icon name="close"></ion-icon></p>
          </div>
          <div class="form-group">
            <ion-input placeholder="Confirm Password" type="password" formControlName="confirmpassword" (blur)="inputUntouch('confirmpassword')"></ion-input>
            <p *ngIf="signupForm.controls['confirmpassword'].touched && !signupForm.controls['confirmpassword'].invalid" class="errortext validinput"><ion-icon name="checkmark"></ion-icon></p>
            <p *ngIf="signupForm.controls['confirmpassword'].touched && !signupForm.controls['confirmpassword'].valid" class="errortext invalidinput"><ion-icon name="close"></ion-icon>
            </p>
           
          </div>
          
          
        </form>
        <button class="welcomebluebutton" (click)="signup()">Signup</button>
        <p><span><a routerLink="/login">Login</a></span></p>
      </div>
</div>
</div>
</div>
</div>
</ion-content>