      
<ion-header translucent class="loginheader othheader">
  <ion-toolbar>
  <ion-buttons slot="start">    
    <ion-back-button></ion-back-button>
    <ion-title class="title">Talent Hunt</ion-title>
  </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <a class="uploadvideorbutton">
    <ion-icon name="add"></ion-icon>
  </a>
<div class="container-90">
  <div class="bgrow">
    <div class="bgrowtitle">
      <span>Lorem Ipsum available</span>
      <span><img src="../../assets/images/dotmenu.png"></span>
    </div>
    <div class="bgrowinnerwrapper">
    <div class="col-1-7">
      <div class="videowrapper">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/DSSjGSoFfk0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-1-3">
      <div class="textwrapper">
        <h2># 11,233</h2>
        <h3>
          <span>Votes</span>
          <span>1456 </span>
        </h3>
        <div class="likewrapper">
          <ion-icon name="thumbs-up"></ion-icon>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="bgrow">
    <div class="bgrowtitle">
      <span>Lorem Ipsum available</span>
      <span><img src="../../assets/images/dotmenu.png"></span>
    </div>
    <div class="bgrowinnerwrapper">
    <div class="col-1-7">
      <div class="videowrapper">
        <video controls="controls" preload="metadata"  webkit-playsinline="webkit-playsinline" class="videoPlayer">
          <source src="../../assets/video/FILHALL - Akshay Kumar Ft Nupur Sanon - BPraak - Jaani - Arvindr Khaira - Ammy Virk - Official Video.webm" type="video/mp4" />
         </video>
      </div>
    </div>
    <div class="col-1-3">
      <div class="textwrapper">
        <h2># 11,233</h2>
        <h3>
          <span>Votes</span>
          <span>1456 </span>
        </h3>
        <div class="likewrapper">
          <ion-icon name="thumbs-up"></ion-icon>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="bgrow">
    <div class="bgrowtitle">
      <span>Lorem Ipsum available</span>
      <span><img src="../../assets/images/dotmenu.png"></span>
    </div>
    <div class="bgrowinnerwrapper">
    <div class="col-1-7">
      <div class="videowrapper">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/DnCkL_D7DSQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-1-3">
      <div class="textwrapper">
        <h2># 11,233</h2>
        <h3>
          <span>Votes</span>
          <span>1456 </span>
        </h3>
        <div class="likewrapper">
          <ion-icon name="thumbs-up"></ion-icon>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="bgrow">
    <div class="bgrowtitle">
      <span>Lorem Ipsum available</span>
      <span><img src="../../assets/images/dotmenu.png"></span>
    </div>
    <div class="bgrowinnerwrapper">
    <div class="col-1-7">
      <div class="videowrapper">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/DnCkL_D7DSQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-1-3">
      <div class="textwrapper">
        <h2># 11,233</h2>
        <h3>
          <span>Votes</span>
          <span>1456 </span>
        </h3>
        <div class="likewrapper">
          <ion-icon name="thumbs-up"></ion-icon>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
</ion-content>